<!-- START: Site Footer -->
<footer role="contentinfo" class="site-footer">
	<div class="row footer-info">
		<!-- START: Copyright Notice -->
		<div class="six columns">
			<p class="footer-copyright">Все материалы выложены под лицензией <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC-BY)</a>. HTML, CSS и дизайн основан на дизайне <a href="https://github.com/sudomesh/peoplesopen-front">форкнутом из PeoplesOpen.Net</a>, который тоже был форкнут из <a href="http://martini.codegangsta.io/">Martini’s template</a>, под лицензией MIT License. <a href="http://www.flickr.com/photos/tostie14/117610830/">Aerial photo of Boston</a> is by Kevin Tostado, reused under a <a href="http://creativecommons.org/licenses/by-nc/2.0/">CC-A-NC 2.0</a> license</p>
		</div>
		<!-- /END: Copyright Notice -->
		<script src="http://theodi.org/nodes/usa/badge.js" />
	</div>
</footer>
<!-- /END: Site Footer -->
